@charset "UTF-8";

body {
	width: 500px;
	margin: auto;
}

iframe#frame-spec {
	width: 400px;
	height: 280px;
	border: none;
	overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
	display: none;
}